Owner: uw-bothell-educational-studies-elementary-education:pathway:elementary-education-option-requirements
Source: https://www.uwb.edu/education/undergraduate/elementary-education/degree-requirements
Title: Degree Requirements - School of Educational Studies

Students will receive support and guidance on all certification requirements from academic advisors, field placement coordinators, and field instructors.
Information for International Students
The Elementary Education Option requires that students complete a student teaching practicum, along with a practicum in an English to Speakers of Other Languages (ESOL) classroom OR a practicum in a Special Education classroom. International students with a visa, other than F-1 visa holders, should consult an immigration attorney to determine their eligibility for completing these required practica. F-1 visa holders will need to plan and apply for Curricular Practical Training (CPT) prior to beginning these required practica. If you have any questions, please contact the International Student Services (ISS) office.
Elementary Education Endorsement Academic Breadth Requirements
As outlined by the State of Washington Professional Educator Standards Board , Washington state elementary school teachers must be certified to teach and must hold an elementary education endorsement. To be eligible for the elementary endorsement, students must complete college-level coursework which demonstrates their knowledge and understanding of the subject areas elementary school teachers cover in their classrooms: Social Studies, English Language Arts, Mathematics, Science and Art.
Elementary Education Academic Breadth Subject Areas & Courses
See Elementary Education Option requirements effective Autumn 2025 for the full list Elementary Education Option course requirements. Courses with a minimum grade of 2.0 (C letter grade) satisfy Academic Breadth requirements .
Applied Art
B EDUC 340 STEAM Education (3 credits)
English Language Arts: Composition or Writing
B WRIT 134 Composition (C)
B WRIT 133 Composition Stretch II (C)
English Language Arts: Literature
B EDUC 250 Topics in Education & Popular Culture: Banned Books & Controversial Topics in Children’s Literature & Young Adult Fiction (A&H)
B EDUC 250 Topics in Education & Popular Culture: Adolescent Literacy, Graphic Novels, and Young Adult Fiction (A&H)
BIS 164 Introduction to World Literature (A&H, DIV)
BIS 206 Engaging Literary Arts (A&H)
BIS 301 Narrative Forms (A&H)
BIS 361 Studies in American Literature (A&H)
BIS 370 Nineteenth-Century American Literature (A&H)
BIS 371 Twentieth-Century American Literature (A&H)
BIS 377 British Literature and the Gothic Novel (A&H)
BIS 379 American Ethnic Literatures (A&H, SSc, DIV)
BIS 387 Women and American Literature (A&H)
BIS 388 Literature in Translation (A&H)
BIS 389 American Indian Literature (A&H, SSc)
BIS 407 Children’s Literature and Reader Response Criticism (A&H)
BIS 455 Literature & Sexuality (A&H, SSc)
BIS 481 Modernism, Postmodernism, and American Literature (A&H)
BIS 486 Studies in Women and Literature (A&H)
BIS 487 Topics in American Literature (A&H)
B EDUC 205 Education & Equity in the United States (DIV, SSc)
B EDUC 210 Teaching & Learning in a Multicultural Society (DIV, SSc)
B EDUC 170 Math for Elementary Teachers (NSc)
B EDUC 240 Science & Engineering for an Ethical and Just Society with Lab (NSc, DIV)
B EDUC 241 Time in Socio-Ecological Systems: Sun, Moon, Clocks, and Contaminants with Lab (NSc, DIV)
B EDUC 242 U.S. History and the Enduring War For Control of K-12 Curriculum: From Invasion to Insurrection (SSc, DIV, W)
B EDUC 205 Education & Equity in the United States
B EDUC 210 Teaching & Learning in a Multicultural Society
BIS 175 Introduction to American Government (SSc)
BIS 180 Introduction to Human Geography (SSc)
BIS 200/B BUS 220 Introduction to Microeconomics (SSc, RSN)
BIS 203 Economics of Gender (SSc, RSN, DIV)
BIS 218 The Power of Maps (SSc)
BIS 242 Environmental Geography SSc/NSc
BIS 280 U.S. Political Processes (SSc)
For example, if a student took HIST& 146 US History I, the student can petition that the course take the place of B EDUC 242 U.S. History and the Enduring War For Control of K-12 Curriculum.
