Owner: uw-seattle-law-societies-and-justice:pathway:graduate-certificate-program-requirements-and-admissions
Source: https://lsj.washington.edu/lsj-gold-curriculum-requirements
Title: LSJ Gold Curriculum Requirements | Law, Societies & Justice | University of Washington

[Supplemental official source] Applying to LSJ Major
[Supplemental official source] Major Requirements
**The following requirements are in effect beginning Autumn 2024**
*LSJ 380, 381, 430, 490, and 491 are variable-topic courses. The topic for a specific offering will be listed on the Time Schedule and also on the Quarterly Course Offerings handouts (available outside the LSJ advising office).
*Students are responsible for arranging with the LSJ adviser which course(s) they will use for completion of their various requirements. This can be done by an email to the LSJ adviser once the student has registered for the course. The adviser can then make the appropriate change in the student’s academic record.
&copy; 2026 University of Washington . All rights reserved.
2026 LSJ Convocation
A few changes to highlight:
A maximum of 10 study abroad credits outside of LSJ affiliated programs may be counted toward the LSJ major.
A minimum cumulative UW GPA of no less than 2.5.
Ability to contribute to broad and wide-ranging discussions
About
Academic Course Planning
Admissions for the Law, Societies, and Justice Major: Current UW Students
Admissions Workshops:
Advising
Affiliated Centers
AFRAM 437 Blacks in American Law (5)
AIS 380 Indigenous Food Sovereignty (5)
AIS 385 Indigenous Ecologies and Climate Change (5)
All applicants will receive email notification of their admission decision by the Friday of the 5th week of the quarter in which they apply. Students admitted to the major will attend the LSJ New Major Workshop, during which the necessary paperwork to formally declare the major will be completed. Your acceptance into the major cannot be formalized unless these forms have been submitted.
Alumni
Alumni Profiles
Alumni Update
Amsterdam
Answer: Applicants admitted to LSJ are usually strong students, but what makes a student strong is rather complex. Because this is an academic program that explores law in social science perspectives, students should show particular aptitude in social science courses. They should also be able to communicate clearly and concisely, and show an interest in the academic topics and social issues discussed in LSJ classes. Admission is based on a student’s academic record and his/her essay. The number of admitted students varies by quarter, based on the characteristics of each applicant pool and the number of students the program can admit. All students who have completed the minimum requirements and who are interested in the major are strongly encouraged to apply.
Answer: It is fine to take LSJ classes before being admitted to the major. Students should try to give preference to the classes in the LSJ Core Course list over those in the subfields. The Core Courses are meant to ground the knowledge covered in more detail in the subfield courses, so taking them first improves your chance of doing well in the upper level coursework.
Answer: The first task is getting into the University of Washington so that you can complete the last prerequisite course(s) before applying to the major. When applying to the university, you should certainly mention your interest in this major, even if you still have prerequisite courses to complete. The Admissions staff knows that one of the LSJ prerequisites has to be completed after being admitted, so not having it completed will not keep you from getting into UW.
Answer: The Law, Societies, and Justice Department does not offer graduate degrees, however, we do have a Graduate Certificate. The details of which are available under the Programs and Courses tab on this website.
Applicants are allowed to apply to the LSJ major a maximum of two times.
Application Information
Apply Now
APPLY NOW
Apply to the LSJ Major
Apply to the LSJ Major | Law, Societies & Justice | University of Washington
Applying to LSJ Major
April 1st | 1:30 PM - 2:30 PM | Smith Hall LSJ Conference Room M261
April 6th | 9:00 AM - 10:00 AM | VIRTUAL | ZOOM LINK
Assessment
Be currently enrolled at the UW (Seattle campus) as an undergraduate student
Box 353565
Bridges Center for Labor Studies
Calendar
Cape Town
Career Planning
Center for Human Rights
Changing Your Graduation Date
College of Arts & Sciences
COM 440/POL S 461 Mass Media Law (5)
Complete Application Information
Complete Personal Information
Conference Room Calendar
Congruence between student interests/questions and questions/topics covered in LSJ courses
Connect with us
Contact Us
Course Catalog
Course Planning
Courses
Coursework, experiences, and skills that can enrich discussion
Criteria
Current & Upcoming
Degree Posting and Receiving Your Diploma
Degree to which LSJ is well-suited to prepare students to achieve their long-term goals
Degree to which the applicant is well-informed about, and ready to thrive in, LSJ courses
Department of Law, Societies & Justice
Directories
DIS ST/LSJ/CHID 430 Topics in Disability Studies (5, max. 15 credits)
DIS ST/LSJ/CHID 433 Disability Law, Policy & Community (5, max. 15 credits)
DIS ST/LSJ/CHID 434 Civil and Human Rights Law for Disabled People (5)
DIS ST/LSJ/CHID 437 Crime, Law, and Mental Illness (5)
Diversity Statement
Do you have a graduate program in LSJ?
Double Majors and Double Degrees
Due April 10th at 4pm
Earn Credit for Study Abroad
Events
Experiential Learning
Facebook
Faculty
Faculty & Staff
Faculty Meeting Agendas
Fax: (206) 685-5186
Fields of Interest
First Name
Fit of learning goals with LSJ curriculum
Fit of long-term goals with LSJ curriculum
Frequently Asked Questions
GEOG 472 Race, Nature, and Power (5)
GEOG 479 Gentrification, Displacement, and Housing Justice (5)
Given the recent concerns of COVID-19 and its effect on higher education institutions, the LSJ Department has adapted its undergraduate admissions policy for LSJ courses where an S grade was earned during a designated UW Extraordinary Circumstances Quarter (ECQ): Spring 2020, Summer 2020, Autumn 2020, Winter 2021, Spring 2021, Summer 2021, and Winter 2022. An S grade will not negatively impact a student's application. To be eligible for admission to the LSJ Department, at least one (1) LSJ course must have a numerical grade (4.0 scale).
GOLD Curriculum
Gold Curriculum Requirements
Graduate Certificate
Graduate Certificate Alumni
Graduate Certificate Fellows
Graduate Fellow Resources
Graduating Senior Priority: Up to 2 quarters before your graduation quarter (for example, apply in autumn to graduate in spring). Quarterly deadlines are posted on UW's Academic Calendar.
Graduation
Graduation Ceremonies
Health, Wellness & Support
History
Home
Honors Option
Honors Programs: Departments Honors and/or College/Interdisciplinary Honors
Honors Theses
Hourly ASE Pay Rates
How competitive is LSJ?
How have your prior experiences (classes and/or personal experiences) helped you prepare to be an LSJ major and to participate in LSJ discussions and activities?
How to Apply to Graduate
I am not yet an LSJ major and I am about to register for classes. What classes will be the best choices now?
I am transferring to the UW from another institution, how can I improve my chances of getting into LSJ as a major?
If accepted to the major, how would you apply what you learned as an LSJ major after graduation? (This could be done in your work/career, your family, your community, your activism, or elsewhere).
If the faculty member agrees to serve as your "Supervisor" for your Independent Study/Research, then you'll flesh out your plan of study with additional readings and a final paper/assignment along with a timeline and due dates.
If you are a prospective student and planning to apply in the next application cycle, attend an admissions workshop, please view available times below:
If you are already declared in your minor(s), you are all set. If you are not already declared in your minor(s), your LSJ adviser will submit that form when you apply to graduate. If you are completing an interdisciplinary minor (Global Health, Diversity, Human Rights, etc.), you will need to see the adviser for that minor to complete your graduation application.
If you are looking for non-LSJ classes that will complement your LSJ studies, consider taking classes that explore a part of the world you know nothing about. You might also consider a class that expands your knowledge of modern history, politics, international relations, philosophy, geography, culture, gender, race, or ethnicity.
If you are participating in an LSJ sponsored Study Abroad Program (Amsterdam, Jamaica, New Zealand, Rome), your credits will count towards LSJ upper-division electives. You do not need to petition these courses. Please schedule a meeting with the LSJ Adviser to adjust your degree audit once your credits have been posted to your transcript.
If you are pursuing a double major or double degree, apply to graduate with each department.
If you declared a minor that you do not intend to complete, your adviser will need to submit a form to drop you from the minor. Your degree will not be granted if minor requirements are not fulfilled.
If you selected to meet first prior to submitting, an LSJ Adviser will reach out.
If you would like me to submit right away or if you would prefer to meet first.
If you would like to change your graduation quarter, contact lsjadv@uw.edu .
Independent Study
Instagram
Internship Requirement
Jamaica
JSIS B 424 International Law and Arms Control (5)
JSIS B 441 Forced Migrations (5)
Last Name
Lastly, we removed the two 400-level seminar requirement and in its place created an Upper-Division Electives section where at least one of those courses must be at the 400-level.
Law, Societies & Justice
LSJ 200
LSJ 200*
LSJ 320/POL S 368 The Politics and Law of International Human Rights (5)
LSJ 321/ANTH 323 Human Rights Law in Culture and Practice (5)
LSJ 322/JSIS A 324 Human Rights in Latin America (5)
LSJ 329 Immigration, Citizenship, and Rights (5)
LSJ 375/SOC 372 Crime, Politics, and Justice (5)
LSJ 377 Punishment: Theory and Practice (5)
LSJ 380 Contemporary Issues in Comparative Legal Institutions (5, max 10 credits)
LSJ 381 Issues in Rights (5, max 10 credits)
LSJ 401 Field Experience in Law, Societies & Justice (5)
LSJ 410 Social Justice through Philanthropy (5)
LSJ 415 Juvenile Parole Project (5)
LSJ 416 Juvenile Parole Practicum (5)
LSJ 421/ANTH 498 Women’s Rights and Politics in Islamic Society (5)
LSJ 422 Immigrants, Labor, and Legality (5)
LSJ 425/ANTH 497 Domesticating International Human Rights: US Asylum & Refugee Law (5)
LSJ 426 Reconciliation: The Politics of Forgiveness in a Global Age (5)
LSJ 427 Sanctioned States: Law, Politics, and Practice of International Law (5)
LSJ 428/POL S 415 Women’s Rights in an Integrated Europe (5)
LSJ 429 Seeking Refuge: A Global Perspective on Refugee Development (5)
LSJ 431/POL S 430 Civil-Military Relations in Democracies (5)
LSJ 438 Human Rights & International Development (5)
LSJ 490 Special Topics in Comparative Legal Institutions (3-5, max 15 credits)
LSJ 491 Special Topics in Rights (3-5, max 15 credits)
LSJ 499 Application
LSJ 499 is a great way to round out your schedule when seeking independent study credit. It's an Independent Study course that you arrange with an LSJ faculty member. Typically, it works like this:
LSJ 499: Independent study
LSJ accepts applications during Autumn, Winter, and Spring quarters. Applications are always due by 4pm on the second Friday of the quarter . Please contact LSJ Advising Office ( lsjadv@uw.edu ) if you have any questions.
LSJ Admissions Rubric
LSJ Convocation
LSJ Course Petition
LSJ is competitive because we cannot admit all who seek to pursue the major. Students are welcome to apply up to two times, but in deciding a second submission should have a parallel plan in case they are not admitted to LSJ. The best plan will vary depending on student interests, but it should be a major that has either open admission or minimum requirement admission.
LSJ Major
LSJ Major Application Workshops
LSJ Major Requirements
LSJ Major Requirements | Law, Societies & Justice | University of Washington
LSJ Major Requirements Overview
LSJ Majors may petition to have a maximum of 5 credits of outside coursework count toward the LSJ major requirements. It is best to petition your course PRIOR to taking it as petitions are rarely granted. Needing to graduate on time is not a suitable justification for petitioning a course.
LSJ Minor
LSJ/JSIS A 480 Indigenous Taiwan and the Pacific (5)
LSJ/JSIS B 326 Migrant Justice (5)
LSJ/JSIS B 366 Comparative Law and Legal Cultures (5)
LSJ/JSIS B/DIS ST 346 Disability in Global and Comparative Perspective (5)
LSJ/POL S 327 Women's Rights as Human Rights (5)
LSJ/POL S 360 Introduction to United States Constitutional Law (5)
LSJ/POL S 361 United States Courts and Civil Liberty (5)
LSJ/POL S 363 Law in Society (5)
LSJ/POL S 367 Comparative Law and Courts (5)
LSJ/SOC 376 Drugs and Society (5)
LSJ/SOC 476 Miscarriages of Justice (5)
lsjadv@uw.edu
Main menu
Major Requirements
Make a Gift
Maps
March 11th | 10:30 AM - 11:30 AM | Smith Hall LSJ Conference Room M261
March 3rd | 2:00 PM - 3:00 PM | VIRTUAL | ZOOM LINK
Menu
Minors
Minors that you are completing, including if you need to add or drop a minor
Mission & Vision
Moving forward, the Department will be using the following language to distinguish between the two curricula:
MyUW
News & Events
News Archive
News Feed
Newsletter
NOTE: Participating in graduation ceremonies does not mean that you have graduated. Degrees are conferred only when all graduation requirements have been fulfilled
Note: Students must have all prerequisite requirements completed and graded in order to be considered for admission.
On average, an applicant that prepares to apply through attending workshops, advising appointments, and/or utilizes Writing Center support has a 55% higher likelihood of being admitted to the major compared to applicants that do not utilize these resources.
On this page:
One (1) LSJ 300-level core human rights OR law course from those listed below:
One 400-level capstone seminar
One course from the UW English Composition list (5 credits).
Online Education
Online Teaching Resources
Only applications that are complete and considered for admission are counted in the two attempts. Starting an application or submitting without all prerequisites completed will not count toward your two attempts.
Optional Hardship Statement (250 words): Describe any personal or economic hardships or barriers and explain how they directly affected your ability to be successful in college, as reflected in your transcript. As hardships may occur throughout your life, be specific about when you encountered these hardships and how long they lasted.
Other majors/degrees that you are completing. You must apply for graduation with each program.
Our general policy is that LSJ minors, may not count outside study abroad experiences towards LSJ minor requirements. However, students may petition for an exception, and the Department will review. Please note, no more than 5 credits may be petitioned.
Our Mission
People
Personal Statement
Petition to Have Outside Course Count Toward Major
PHIL 414 Philosophy of Law (5)
Phone: (206) 543-2396
Please submit a PDF of your MyPlan or Excel document, showing your quarterly plans from the quarter you are applying through graduation as accurately as possible . We understand that plans are not permanent and can change, but we want all applicants to be well-aware of their academic plans, especially in regard to the UW's Satisfactory Progress Policies .
POL S 462 The Supreme Court in American Politics (5)
Preamble: Although we wish we could accept all interested students into our major, LSJ is a capacity-constrained department. In this context, we want to identify students we can best serve and who will flourish in LSJ. In order to do this, we need to learn about you and why you want to be an LSJ major.
Prerequisite Information
Privacy
Program Description
Programs & Courses
Prompt: In a single essay of no more than 750 words, please explain why you want to major in LSJ. Be sure that your essay addresses each of the topics listed below. Please note that some of these questions may overlap and you do not need to repeat yourself or address them in any particular order.
Publications
PURPLE Curriculum
Purple Curriculum Requirements
Quarter you plan to graduate
Quarterly Graduation Application Deadline: Third Friday of the quarter you intend to graduate.
Quick links
Quick Links
Recent News
Relevance of prior/preparatory experiences
Reports
Requirements & Admissions
Research
Resources
Resources Site (external)
Rome
Scholarships & Financial Support
Search
Seattle, WA 98195
Share
Similar to petitioning outside courses, it is strongly advised to petition your study abroad course PRIOR to going on the trip. Needing to graduate on time is not a suitable justification for petitioning a course.
Site Map
Skip to main content
Smith M253,
SPRING ADMISSIONS CYCLE: DUE APRIL 10, 2026 4:00 PM PST
Staff
Stay Connected
Student Advisory Council
Student Forms
Student may earn credit for independent study work through LSJ 499. Credits earned through these courses count toward total credit, but will not fulfill LSJ major requirements .
Student picks an LSJ-related topic they'd like to learn more about and compiles a short (1-2 paragraphs) description of the topic, along with a list of 4-5 articles, book chapters, or books related to the topic.
Student selects an LSJ faculty member (cannot be a grad student) who has some experience in/knowledge of the topic and meets with them to discuss their proposal.
Students may earn credit for independent study with an LSJ faculty member.
Students who graduated in summer, autumn, winter or applied to graduate in spring may participate in the UW Commencement. Students who graduate in the upcoming summer may participate if they apply for graduation by the third Friday of spring quarter. See the Commencement website for information.
Study Abroad
Submit the LSJ Graduation Application Form with the following information:
Support LSJ
Support Us
Terms
The application deadline is always due the second Friday of the quarter at 4:00pm
The application will contain the following items:
The core requirements have opened, while still requiring 20 credits, we no longer have the rigid categories and instead have broken it down as follows:
The curriculum that current students are familiar with and is prior to Autumn 2024
The department seeks to admit students who: (a) are capable of succeeding in LSJ coursework; (b) display a clear understanding of, and connection to, the department; and (c) can contribute to a dynamic learning community, in some cases by providing a unique perspective based on their life experiences.
The LSJ admissions committee will use the following criteria to assess applications to the major, with the understanding that the first two rows will be weighted most heavily:
The LSJ Convocation Ceremony takes place during final exam week and celebrates students who graduated in summer, autumn, and winter and who applied to graduate in the upcoming spring and summer. For information about the upcoming convocation, see the LSJ Convocation page.
The LSJ Department has three admissions cycles per year (Autumn, Winter, Spring)
The major credit requirements have increased from 55 to 60
The new curriculum beginning Autumn 2024 onwards
The notifications will always be sent the fifth Friday of the quarter
There is no longer an internship requirement
To apply for graduation with LSJ:
To be eligible to apply to the Law, Societies, and Justice major (LSJ), students must meet the following prerequisite criteria, including minimum grades and the successful completion of prerequisite coursework.
To review the curriculum specifics for either curriculum, please visit the Purple Major Requirements page and the Gold Major Requirements page.
Together you'll decide on the appropriate number of credits, ranging from 1-5. The course is always graded as Credit/No Credit.
Transfer direct-to-major admission applicants do not count towards the two-application limit.
Transfer students who are admitted to LSJ usually have good grades, but they also show a genuine interest in the study of law and justice. Our program is built on the research and scholarly goals of our faculty rather than on a certain career field. As a result, any evidence of commitment to the academic field carries more weight than a student’s wish for a certain career after college.
Transferring into LSJ
Two courses in either Rights or Law courses
UK and the Netherlands
Undergraduate students at UW Bothell or UW Tacoma or incoming Transfer students applying to UW should reference the Transfer Student page for relevant information.
University of Washington
Upload your optional hardship statement
Upload your personal statement in PDF format
Upload your unofficial transcript in PDF format
User account menu
UW Commencement
UW Email
UW Student ID #
Videoconferencing for Climate Practice
Visit the LSJ Advising page to view our current drop-in schedule.
Washington
We removed the subfield section and 25 credit requirement and shifted to a 300-level section and 20 credit requirement
We will continue to run our admissions cycles during autumn, winter, and spring.
What do you hope to learn and/or experience as an LSJ major?
What makes LSJ a good fit for you given your interests?
When to Apply
While LSJ continues to be a capacity-constrained major, the admissions requirements and overall curriculum are now more open allowing students more ease in completing the major. These decisions were largely made due to our smaller faculty size and creating less of a bottleneck.
Year you plan to graduate
You are here
You'll complete the LSJ 499 form along with your faculty supervisor. The form is available here .
Your diploma will be mailed approximately three months after your final quarter at UW. For more informaiton, see the Graduation, Commencement and Diplomas website.
Your transcript is the official document that confirms you earned your degree. Your degree will be posted to your transcript within four weeks of the end of your final quarter. If you did not restrict release of directory information, employers can use the UW Degree Verification website to verify conferral of your degree.
